.reservation-container {
  padding: 30px;
  font-family: "Inter", sans-serif;
}

.selectors {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.selectors select,
.selectors input {
  padding: 12px 16px;
  border-radius: 20px;
  border: none;
  background: #f3f0fa;
  font-size: 14px;
}

.slot-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 0;
}

.slot {
  padding: 12px 20px;
  border-radius: 25px;
  background: #f4f2fa;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.2s ease;
}

.slot:hover {
  background: #e8e5f4;
}

.slot.selected {
  background: #5c4ead;
  color: white;
}

.slot.taken {
  background-color: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
  text-decoration: line-through;
}

.slot.taken.selected {
  background: #d6d6d6;
  color: #777;
}

.client-info {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.client-info input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 120px;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  background: #f4f2fa;
  margin-bottom: 20px;
}

.submit-btn {
  padding: 12px 25px;
  border-radius: 25px;
  background: #5c4ead;
  color: white;
  cursor: pointer;
  border: none;
}
